body { font-family: sans-serif; padding: 4px;}

.input-group{
    position: relative;
    top: 30px;
    padding: 0px 0px;
    margin: 0%;
}

.navbar-collapse{
    display: flex;
    justify-content: space-evenly;
}

.nav-item{
    padding: 10px 40px;
    transition: 0.8s;
}

.nav-item:hover{
    background-color: dimgray;
    font-size: larger;
}

.navbar-collapse{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #E0E0E0;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.form-budget{
    background-color: #E0E0E0;
    width: 35%;
    height: 230px;
    border-radius: 10px;
    border: 50px;
    padding: 10px;
}

.btn-close{
    margin-left: 90%;
    display: inline;
}

.form-budget-container{
   margin-top: 70px;
   margin-left: 360px;
}

.spacing{
    margin-left: 20px;
    margin-top: 15px;
}

.sumit-btn{
    position: relative;
    top: 40px;
    padding: 6px;
    margin-left: 10px;
}

.reset-bd{
    position: relative;
    left: 80%;
    top: 40px;
}

.alert{
    position: relative;
    top: 90px;
}

.title {
    margin-top: 50px;
}